<header>
    <div class="container-lg clearfix">
        <div class="col-12 header">
            <a class="title-main" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            {{ with .Site.Params.subTitle }}
            <span class="title-sub">{{ . }}</span>
            {{ end }}
        </div>
    </div>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement('script');
            hm.src = 'https://hm.baidu.com/hm.js?589f0dbb99213979cc58aaed37bb3611';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</header>